@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

h2 {
  color: black;
  font-size: 200%;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Añadir espacio después del título */
}

.contenedor-hoteles {
  height: auto;
  position: relative;
  display: block; /* Cambiado de 'contents' a 'block' */
  padding: 20px; /* Añadir algo de padding */
}

.boton-reservar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 20px; /* Añadir espacio antes del botón */
}

.boton-reservar:active {
  transform: scale(0.95);
}

.boton-reservar:focus {
  outline: none;
}

.boton-reservar.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

.boton-reservar:hover {
  background-color: #7f1818;
  color: #ffffffd8;
}

.boton-volver {
  position: absolute;
  right: 20px;  /* distancia desde la derecha */
  top: 20px;    /* distancia desde la parte superior */
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.boton-volver:active {
  transform: scale(0.95);
}

.boton-volver:focus {
  outline: none;
}

.boton-volver.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

.boton-volver:hover {
  background-color: #7f1818;
  color: #ffffffd8;
}
